<title>About{{company?.name}}</title>
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1>{{company?.name}} details</h1>
</div>
<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">About</h3>
    <p>{{company?.about}}</p>
</div>
<!-- Third Container -->
 <div class="container-fluid bg-3 text-center">
  <h3 class="margin">Company Contact Details</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>Phone: {{company?.num}}</p>
    </div>
    <div class="col-sm-4">
      <p>Email: {{company?.email}}</p>
    </div>
    <div class="col-sm-4">
      <p>Address: {{company?.address}}</p>
    </div>
  </div>
</div>
<div  class="container-fluid bg-4 text-center">
    <sebm-google-map [latitude]="company?.lat" [longitude]="company?.long">
      <sebm-google-map-marker [latitude]="company?.lat" [longitude]="company?.long"></sebm-google-map-marker>
    </sebm-google-map>
</div>
<!-- Footer Container -->
<footer class="container-fluid bg-5 text-center">
  <p>BMG Tech</p>
</footer>